# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/

# Unnecessary scripts
*.ipynb

# Folders
*/
F5-TTS/
*.py
